USE [master]
GO
/****** Object:  Database [QLThuoc]    Script Date: 19/12/2025 2:35:05 CH ******/
CREATE DATABASE [QLThuoc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLThuoc', FILENAME = N'C:\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLThuoc.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLThuoc_log', FILENAME = N'C:\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLThuoc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLThuoc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLThuoc]
GO
/****** Object:  Table [dbo].[CaLam]    Script Date: 19/12/2025 2:35:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLam](
	[maCaLam] [varchar](10) NOT NULL,
	[tenCaLam] [nvarchar](100) NOT NULL,
	[ngayLamViec] [date] NULL,
	[gioBatDau] [time](7) NULL,
	[gioKetThuc] [time](7) NULL,
	[viTriLamViec] [nvarchar](100) NULL,
	[soLuongNhanVienCan] [int] NULL,
	[ghiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[maCaLam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 19/12/2025 2:35:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[maHoaDon] [nvarchar](20) NOT NULL,
	[maThuoc] [nvarchar](20) NOT NULL,
	[donGia] [decimal](18, 2) NOT NULL,
	[soLuong] [int] NOT NULL,
	[thanhTien] [decimal](18, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 19/12/2025 2:35:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[maPhieu] [nvarchar](20) NOT NULL,
	[maThuoc] [nvarchar](20) NOT NULL,
	[soLuong] [int] NOT NULL,
	[donGia] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhieu] ASC,
	[maThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemTichLuy]    Script Date: 19/12/2025 2:35:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemTichLuy](
	[maDiem] [int] IDENTITY(1,1) NOT NULL,
	[maKH] [nvarchar](20) NOT NULL,
	[ngayPhatSinh] [date] NOT NULL,
	[ngayHetHan] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 19/12/2025 2:35:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHoaDon] [nvarchar](20) NOT NULL,
	[maKhachHang] [nvarchar](20) NOT NULL,
	[ngayLap] [datetime2](7) NOT NULL,
	[phuongThucThanhToan] [nvarchar](20) NOT NULL,
	[thueVAT] [decimal](5, 2) NOT NULL,
	[maNhanVien] [nvarchar](20) NOT NULL,
	[tongTien] [decimal](18, 2) NOT NULL,
	[tienGiam] [decimal](18, 2) NULL,
 CONSTRAINT [PK__HoaDon__026B4D9AC0E56CB5] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 19/12/2025 2:35:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKhachHang] [nvarchar](20) NOT NULL,
	[diemTichLuy] [int] NOT NULL,
	[gioiTinh] [bit] NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[loaiKhachHang] [nvarchar](20) NOT NULL,
	[soDienThoai] [nvarchar](50) NOT NULL,
	[diemDoiThuong] [int] NULL,
 CONSTRAINT [PK__KhachHan__0CCB3D493C12D5C3] PRIMARY KEY CLUSTERED 
(
	[maKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoHang]    Script Date: 19/12/2025 2:35:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoHang](
	[maKho] [nvarchar](20) NOT NULL,
	[ngayNhap] [date] NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[soLuong] [int] NOT NULL,
	[trangThai] [nvarchar](20) NOT NULL,
	[tenKho] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 19/12/2025 2:35:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[maKhuyenMai] [nvarchar](20) NOT NULL,
	[phanTramGiam] [decimal](5, 2) NOT NULL,
	[tenKhuyenMai] [nvarchar](100) NOT NULL,
	[thoiGianBatDau] [datetime2](7) NOT NULL,
	[thoiGianKetThuc] [datetime2](7) NOT NULL,
	[maNhanVien] [nvarchar](20) NOT NULL,
	[ngayTao] [datetime] NULL,
	[tienGiamToiDa] [decimal](18, 0) NULL,
	[loaiThuocApDung] [varchar](100) NULL,
 CONSTRAINT [PK__KhuyenMa__87BEDDE917AA17FD] PRIMARY KEY CLUSTERED 
(
	[maKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichLam]    Script Date: 19/12/2025 2:35:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichLam](
	[maLichLam] [varchar](10) NOT NULL,
	[maNhanVien] [nvarchar](20) NOT NULL,
	[maCaLam] [varchar](10) NOT NULL,
	[ngayLam] [date] NOT NULL,
	[trangThaiCaLam] [nvarchar](50) NULL,
	[ghiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maLichLam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 19/12/2025 2:35:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[maNhaCungCap] [nvarchar](20) NOT NULL,
	[diaChi] [nvarchar](255) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[soDienThoai] [nvarchar](15) NOT NULL,
	[tenNhaCungCap] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 19/12/2025 2:35:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNhanVien] [nvarchar](20) NOT NULL,
	[gioiTinh] [nvarchar](3) NOT NULL,
	[ngaySinh] [date] NOT NULL,
	[soDienThoai] [nvarchar](15) NOT NULL,
	[tenNhanVien] [nvarchar](100) NOT NULL,
	[hinhAnh_NV] [nvarchar](50) NOT NULL,
	[diaChi] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
 CONSTRAINT [PK__NhanVien__BDDEF20D32F87FAC] PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhapKho]    Script Date: 19/12/2025 2:35:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapKho](
	[maPhieu] [nvarchar](20) NOT NULL,
	[ngayNhap] [datetime] NULL,
	[maNhanVien] [nvarchar](20) NULL,
	[maNhaCungCap] [nvarchar](20) NULL,
	[lyDo] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 19/12/2025 2:35:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[tenDangNhap] [nvarchar](50) NOT NULL,
	[quyenTruyCap] [nvarchar](40) NOT NULL,
	[matKhau] [nvarchar](255) NOT NULL,
	[trangThaiTaiKhoan] [nvarchar](20) NOT NULL,
	[maNhanVien] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NULL,
 CONSTRAINT [PK__TaiKhoan__59267D4B523BBEC1] PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__TaiKhoan__BDDEF20CC17D957F] UNIQUE NONCLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thuoc]    Script Date: 19/12/2025 2:35:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuoc](
	[maThuoc] [nvarchar](20) NOT NULL,
	[giaBan] [decimal](18, 2) NOT NULL,
	[giaNhap] [decimal](18, 2) NOT NULL,
	[hanSuDung] [date] NOT NULL,
	[tenThuoc] [nvarchar](100) NOT NULL,
	[maKho] [nvarchar](20) NOT NULL,
	[maNhaCungCap] [nvarchar](20) NOT NULL,
	[DonViNhapKho] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[trangThaiTonKho] [nvarchar](50) NOT NULL,
	[tonKhoToiThieu] [int] NOT NULL,
	[tonKhoToiDa] [int] NOT NULL,
	[loaiThuoc] [nvarchar](50) NULL,
	[DonViBan] [nvarchar](100) NULL,
	[TiLeDonVi] [nvarchar](200) NULL,
	[maLoai] [varchar](10) NULL,
	[phanLoai] [varchar](20) NOT NULL,
 CONSTRAINT [PK__Thuoc__29507A604FE743A7] PRIMARY KEY CLUSTERED 
(
	[maThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TraHang]    Script Date: 19/12/2025 2:35:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TraHang](
	[maPhieuTra] [nvarchar](20) NOT NULL,
	[maHoaDon] [nvarchar](20) NOT NULL,
	[lyDoTraHang] [nvarchar](255) NOT NULL,
	[ngayTra] [datetime2](7) NOT NULL,
	[trangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhieuTra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_CaLam_NgayGio]    Script Date: 19/12/2025 2:35:06 CH ******/
CREATE NONCLUSTERED INDEX [IX_CaLam_NgayGio] ON [dbo].[CaLam]
(
	[ngayLamViec] DESC,
	[gioBatDau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ChiTietPhieuNhap_Thuoc]    Script Date: 19/12/2025 2:35:06 CH ******/
CREATE NONCLUSTERED INDEX [IDX_ChiTietPhieuNhap_Thuoc] ON [dbo].[ChiTietPhieuNhap]
(
	[maThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_PhieuNhapKho_Ngay]    Script Date: 19/12/2025 2:35:06 CH ******/
CREATE NONCLUSTERED INDEX [IDX_PhieuNhapKho_Ngay] ON [dbo].[PhieuNhapKho]
(
	[ngayNhap] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_PhieuNhapKho_NV]    Script Date: 19/12/2025 2:35:06 CH ******/
CREATE NONCLUSTERED INDEX [IDX_PhieuNhapKho_NV] ON [dbo].[PhieuNhapKho]
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CaLam] ADD  DEFAULT ((0)) FOR [soLuongNhanVienCan]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF__HoaDon__ngayLap__70DDC3D8]  DEFAULT (getdate()) FOR [ngayLap]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF__HoaDon__thueVAT__72C60C4A]  DEFAULT ((0.0)) FOR [thueVAT]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [DF__KhachHang__diemT__6A30C649]  DEFAULT ((0)) FOR [diemTichLuy]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[PhieuNhapKho] ADD  DEFAULT (getdate()) FOR [ngayNhap]
GO
ALTER TABLE [dbo].[Thuoc] ADD  CONSTRAINT [DF__Thuoc__DonViTinh__4F47C5E3]  DEFAULT (N'viên') FOR [DonViNhapKho]
GO
ALTER TABLE [dbo].[Thuoc] ADD  CONSTRAINT [DF__Thuoc__SoLuong__503BEA1C]  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[Thuoc] ADD  DEFAULT ((50)) FOR [tonKhoToiThieu]
GO
ALTER TABLE [dbo].[Thuoc] ADD  DEFAULT ((1000)) FOR [tonKhoToiDa]
GO
ALTER TABLE [dbo].[Thuoc] ADD  DEFAULT ('OTC') FOR [phanLoai]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietHo__maHoa__07C12930] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK__ChiTietHo__maHoa__07C12930]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietHo__maThu__08B54D69] FOREIGN KEY([maThuoc])
REFERENCES [dbo].[Thuoc] ([maThuoc])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK__ChiTietHo__maThu__08B54D69]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([maPhieu])
REFERENCES [dbo].[PhieuNhapKho] ([maPhieu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietPh__maThu__7EF6D905] FOREIGN KEY([maThuoc])
REFERENCES [dbo].[Thuoc] ([maThuoc])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK__ChiTietPh__maThu__7EF6D905]
GO
ALTER TABLE [dbo].[DiemTichLuy]  WITH CHECK ADD  CONSTRAINT [FK_DiemTichLuy_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[DiemTichLuy] CHECK CONSTRAINT [FK_DiemTichLuy_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__maKhachH__74AE54BC] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__maKhachH__74AE54BC]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__maNhanVi__76969D2E] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__maNhanVi__76969D2E]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMai_NhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [FK_KhuyenMai_NhanVien]
GO
ALTER TABLE [dbo].[LichLam]  WITH CHECK ADD  CONSTRAINT [FK_LichLam_CaLam] FOREIGN KEY([maCaLam])
REFERENCES [dbo].[CaLam] ([maCaLam])
GO
ALTER TABLE [dbo].[LichLam] CHECK CONSTRAINT [FK_LichLam_CaLam]
GO
ALTER TABLE [dbo].[LichLam]  WITH CHECK ADD  CONSTRAINT [FK_LichLam_NhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[LichLam] CHECK CONSTRAINT [FK_LichLam_NhanVien]
GO
ALTER TABLE [dbo].[PhieuNhapKho]  WITH CHECK ADD FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[PhieuNhapKho]  WITH CHECK ADD FOREIGN KEY([maNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([maNhaCungCap])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK__TaiKhoan__maNhan__6754599E] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK__TaiKhoan__maNhan__6754599E]
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD  CONSTRAINT [FK__Thuoc__maKhoHang__02084FDA] FOREIGN KEY([maKho])
REFERENCES [dbo].[KhoHang] ([maKho])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Thuoc] CHECK CONSTRAINT [FK__Thuoc__maKhoHang__02084FDA]
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD  CONSTRAINT [FK__Thuoc__maNhaCung__02FC7413] FOREIGN KEY([maNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([maNhaCungCap])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Thuoc] CHECK CONSTRAINT [FK__Thuoc__maNhaCung__02FC7413]
GO
ALTER TABLE [dbo].[TraHang]  WITH CHECK ADD  CONSTRAINT [FK__TraHang__maHoaDo__0C85DE4D] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TraHang] CHECK CONSTRAINT [FK__TraHang__maHoaDo__0C85DE4D]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD CHECK  (([donGia]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD CHECK  (([soLuong]>(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CK__HoaDon__phuongTh__71D1E811] CHECK  (([phuongThucThanhToan]='CHUYEN_KHOAN' OR [phuongThucThanhToan]='TIEN_MAT'))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CK__HoaDon__phuongTh__71D1E811]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CK__HoaDon__thueVAT__73BA3083] CHECK  (([thueVAT]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CK__HoaDon__thueVAT__73BA3083]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [CK__KhachHang__loaiK__6B24EA82] CHECK  (([loaiKhachHang]='BINHTHUONG' OR [loaiKhachHang]='VIP' OR [loaiKhachHang]='VANGLAI'))
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [CK__KhachHang__loaiK__6B24EA82]
GO
ALTER TABLE [dbo].[KhoHang]  WITH CHECK ADD CHECK  (([soLuong]>=(0)))
GO
ALTER TABLE [dbo].[KhoHang]  WITH CHECK ADD  CONSTRAINT [CK_KhoHang_TrangThaiMoi] CHECK  (([trangThai]='TON_KHO' OR [trangThai]='SAP_HET_HANG' OR [trangThai]='HET_HANG' OR [trangThai]='CON_HANG'))
GO
ALTER TABLE [dbo].[KhoHang] CHECK CONSTRAINT [CK_KhoHang_TrangThaiMoi]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [CK__KhuyenMai__phanT__6E01572D] CHECK  (([phanTramGiam]>=(0) AND [phanTramGiam]<=(100)))
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [CK__KhuyenMai__phanT__6E01572D]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [CK__TaiKhoan__quyenT__656C112C] CHECK  (([quyenTruyCap]='QUANLY' OR [quyenTruyCap]='DUOCSI'))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [CK__TaiKhoan__quyenT__656C112C]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [CK__TaiKhoan__trangT__66603565] CHECK  (([trangThaiTaiKhoan]='DANGHOATDONG' OR [trangThaiTaiKhoan]='DANGUNG'))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [CK__TaiKhoan__trangT__66603565]
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD  CONSTRAINT [CK__Thuoc__giaBan__7F2BE32F] CHECK  (([giaBan]>=(0)))
GO
ALTER TABLE [dbo].[Thuoc] CHECK CONSTRAINT [CK__Thuoc__giaBan__7F2BE32F]
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD  CONSTRAINT [CK__Thuoc__giaNhap__00200768] CHECK  (([giaNhap]>=(0)))
GO
ALTER TABLE [dbo].[Thuoc] CHECK CONSTRAINT [CK__Thuoc__giaNhap__00200768]
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD  CONSTRAINT [CK_DonViBan_Valid] CHECK  (([DonViBan]=N'CHAI' OR [DonViBan]=N'HOP' OR [DonViBan]=N'VIEN' OR [DonViBan]=N'TUYP' OR [DonViBan]=N'GOI'))
GO
ALTER TABLE [dbo].[Thuoc] CHECK CONSTRAINT [CK_DonViBan_Valid]
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD  CONSTRAINT [CK_DonViNhapKho_Valid] CHECK  (([DonViNhapKho]=N'CHAI' OR [DonViNhapKho]=N'HOP' OR [DonViNhapKho]=N'VIEN' OR [DonViNhapKho]=N'TUYP' OR [DonViNhapKho]=N'GOI'))
GO
ALTER TABLE [dbo].[Thuoc] CHECK CONSTRAINT [CK_DonViNhapKho_Valid]
GO
ALTER TABLE [dbo].[TraHang]  WITH CHECK ADD CHECK  (([trangThai]=(1) OR [trangThai]=(0)))
GO
USE [master]
GO
